numpy>=1.25,<3
einops>=0.8
transformers==4.57.6
diffusers==0.37.0
accelerate>=1.10,<2
omegaconf>=2.3,<3
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
scipy
tqdm
psutil
pyyaml
pillow
torchsde
comfy-kitchen==0.2.31
comfy-aimdo==0.4.13
requests
simpleeval>=1.0.0
blake3
aiohttp>=3.11.8
yarl>=1.18.0
filelock
av>=16.0.0
demucs==4.0.1
SQLAlchemy>=2.0.0
alembic
kornia>=0.7.1
spandrel
pydantic-settings~=2.0
PyOpenGL>=3.1.8
